* {
    padding: 0;
    margin: 0;
}
/*INÍCIO DOS BLOCOS DE ALINHAMENTO*/
.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: #680a1d;
    width: 100%;    
}

.prato {
    flex: 1;
    text-align: left;
    font-size: 1.5em;

}

.titulo {
    text-align: center;
    color: #680a1d;
    font-weight: bolder;
}

.alinhamento {
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

/*FIM DO BLOCO DE ALINHAMENTO DOS ITENS*/

img {
    width: 20%;
}

h2 {
    padding-top: 80px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
}

section {
    text-align: center;

}
a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;

}

.texto {
    padding-top: 5%;
}

.frango {
    width: 22%;
}

.batata {
    width: 13%;
}
table{
    width: 1570px;
}
td{
    text-align: justify;
}
footer {
    background-color: #680a1d;
    text-align: right;
    color: white;
}
